.App {
  text-align: center;
}

.App-content {
  background-color: #282c34;
  height: 100vh;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
}

.App-content > .images {
  overflow-x: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2 1;
  width: 100%;
}

.App-content > .images .image {
  margin: 5px;
}

.App-content > .image-uploader {
  flex: 1;
}

.App-link {
  color: #09d3ac;
}
